[Unit]
Description=start Python MQTT 2 SMS gateway
Wants=dev-gsmmodem.device
After=network.target dev-gsmmodem.device

[Service]
Type=simple
ExecStartPre=/usr/bin/gammu -c /etc/gammurc setautonetworklogin
ExecStartPre=/usr/bin/gammu -c /etc/gammurc setpower ON
ExecStart=/usr/local/bin/mqtt2sms.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
